*{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}
body{
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: calibri;
}
#main{
    border:4px solid black;
    margin-top: 150px;
    background-color: rgba(109, 180, 247, 0.952);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    
}
input{
    border:1.5px solid black;    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
}
#btn{    
    border:1.5px solid black;
    background-color:  rgb(209, 125, 57);
    color: rgb(7, 4, 4);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 15px;        
    }
#heading{
        font-size:20px;
        margin-top:15px 10px 15px 10px;
        border-bottom:1px solid black;
    }    
#cut{
    border-top:1px solid black;
    }
#cel{
    padding:7px;
    text-align:center;
    vertical-align: middle;
}
#cell{
    background-color: grey;
    padding:7px;
    border:2px solid black;
    text-align:center;
    vertical-align: middle;
}